streamlit
fastapi
uvicorn
langchain-text-splitters
langchain-community
langchain-chroma
langchain-groq
langchain-huggingface
langgraph
pypdf
python-dotenv
pydantic
sentence-transformers
chromadb
requests
